.box{
	width: 100%;
	font-size: 0rem;
}
header>.top{
	width: 98%;
	margin: 0 auto;
	margin-top: 0.05rem;
}
header>.nav{
	width: 100%;
	display: flex;
	position: relative;
	padding-top: 0.35rem;
	padding-bottom: 0.35rem;
}
header>.nav>img{
	height: 0.9rem;
	width: 0.6rem;
	margin-left: 0.25rem;
}
header>.nav>p>img{
	height: 0.42rem;
	width: 0.42rem;
	position: absolute;
	top: 0.6rem;
	left: 1.35rem;
}
header>.nav>input{
	background-color: #f5f5f5;
	width: 6.3rem;
	height: 0.9rem;
	border-radius: 0.45rem;
	font-size: 0.38rem;
	padding-left: 1rem;
	padding-right: 1rem;
	margin-left: 0.2rem;
}
header>.nav>ul>li>img{
	width: 0.64rem;
	height: 0.64rem;
	margin-top: 0.1rem;
	margin-left: 0.45rem;
}
header>.nav>ul{
	position: relative;
}
header>.nav>ul>li:nth-child(2){
	width: 0.36rem;
	height: 0.36rem;
	border-radius: 0.36rem;
	text-align: center;
	line-height: 0.36rem;
	color: white;
	font-size: 0.3rem;
	margin-top: 0.1rem;
	margin-left: 0.45rem;
	background: #2fd7a6;
	position: absolute;
	top: -0.12rem;
	left: 0.45rem;
}
.middon{
	width: 100%;
	display: flex;
}
.middon>.left>ul{
	width: 2.6rem;
	background-color: #f5f5f5;
}
.middon>.left>ul>li{
	width: 100%;
	height: 1.4rem;
	font-size: 0.38rem;
	line-height: 1.4rem;
	text-align: center;
}
.middon>.right>.shang>p>img{
	width: 7.45rem;
	height: 2.6rem;
	margin-left: 0.4rem;
}
.middon>.right>.shang>ul>li:nth-child(1){
	font-size: 0.36rem;
	color: #f28f38;
}
.middon>.right>.shang>ul>li:nth-child(1)>span{
	color: #ec4f30;
}
.middon>.right>.shang>ul>li:nth-child(2){
	font-size: 0.38rem;
	color: #f28f38;
}
.middon>.right>.shang>ul>li:nth-child(3){
	font-size: 0.38rem;
	color: #f28f38;
	border: 1px solid #f28f38;
	height: 0.5rem;
	width: 1.98rem;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 0.5rem;
	margin-top: 0.26rem;
}
.middon>.right{
	position: relative;
}
.middon>.right>.shang>ul{
	position: absolute;
	top: 0.56rem;
	left: 0.88rem;
}
.middon>.right>.xia>.one>p{
	font-size: 0.4rem;
	color: #000000;
	margin-left: 0.4rem;
	height: 1.5rem;
	line-height: 1.5rem;
}
.middon>.right>.xia>.one>.tu>div{
	display: flex;
	justify-content: space-around;
}
.middon>.right>.xia>.one>.tu>div>ul>li>img{
	width: 1.5rem;
	height: 1.25rem;
}
.middon>.right>.xia>.one>.tu>div>ul>li{
	font-size: 0.3rem;
	color: #666666;
	text-align: center;
	margin-top: 0.45rem;
}
.middon>.right>.xia>.one>.tu>div:nth-child(2){
	margin-top: 0.8rem;
	padding-bottom: 0.4rem;
}
.middon>.right>.xia>.one>.tu{
	width: 7.45rem;
	margin-left: 0.4rem;
	box-shadow: 1px 2px 10px 3px #ececec;
}
.wan{
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0px;
	background-color: white;
	z-index: 99;
}
.wan>ul>li>img{
	width: 0.6rem;
	height: 0.6rem;
}
.wan>ul>li{
	font-size: 0.36rem;
}
.wan>ul{
	width: 25%;
	text-align: center;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
}
/*.wan>ul:hover{
	background-color: #2fd7a6;
}*/
header>.foot>ul:hover{
	background-color: #2fd7a6;
}
.one:nth-child(n+3){
	display: none;
}
.a{
	color: #2DD7A8;
	background-color: white;
}



.left>ul>li{
	position: relative;
}
.left>ul>li>span{
	display: inline-block;
	width: 0.1rem;
	height: 0.8rem;
	background: #2DD7A8;
	position: absolute;
	left: 0rem;
	top: 0.3rem;
	display: none;
}
